@model Customer



<div class="row text">
    <div class="mb-3 col-md-8 offset-2">
        <h1>Confirm delete of customer: @Model.Name</h1>
    </div>
    <div class="col-md-8 offset-2">
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Name)" readonly />
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Email)" readonly />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="PhoneNumber" class="form-control" placeholder="@Html.DisplayNameFor(model => model.PhoneNumber)" readonly />
            <label asp-for="PhoneNumber"></label>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Address" class="form-control" placeholder="@Html.DisplayNameFor(model => model.PhoneNumber)" readonly />
            <label asp-for="Address"></label>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id"/>
                <input type="submit" value="confirm" class="btn btn-danger float-end"/>
            </form>
            <a asp-action="Index" class="btn btn-outline-primary">Back to list</a>
        </div>
    </div>
</div>