@using Labb4_MVCRazor.Data.Enums
@model Book



<div class="row text">
    <div class="mb-3 col-md-8 offset-2">
        <h1>Edit book</h1>
    </div>
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="ImageUrl" class="form-control" placeholder="@Html.DisplayNameFor(model => model.ImageUrl)" />
                        <label asp-for="ImageUrl"></label>
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Title" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Title)" />
                        <label asp-for="Title"></label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Description" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Description)" />
                        <label asp-for="Description"></label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="BookCategory" class="form-select" asp-items="Html.GetEnumSelectList<BookCategory>()" placeholder="@Html.DisplayNameFor(model => model.Author)">
                            <option selected>Choose a category</option>
                        </select>
                        <label asp-for="BookCategory"></label>
                        <span asp-validation-for="BookCategory" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Author" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Author)" />
                        <label asp-for="Author"></label>
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Published" type="number" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Published)" />
                        <label asp-for="Published"></label>
                        <span asp-validation-for="Published" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="SerialNumber" class="form-control" placeholder="@Html.DisplayNameFor(model => model.SerialNumber)" />
                        <label asp-for="SerialNumber"></label>
                        <span asp-validation-for="SerialNumber" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="submit" value="Edit" class="btn btn-outline-success float-end" />
                        <a asp-action="Index" class="btn btn-outline-primary">Back to list</a>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="form-group text-center">
                    <img class="border-info" width="100%" id="BookPicturePreview" />
                </div>
            </div>




        </div>
    </div>

</div>



@section Scripts{
<script>

    $(document).ready(function () {
        var output = document.getElementById('BookPicturePreview');
        output.src = $("#ImageUrl").val();
    })

    $("#ImageUrl").on("change", function() {
        var output = document.getElementById('BookPicturePreview');
        output.src = $(this).val();
    })
</script>
}